---
version: 3

images:
  base_image:
    name: 'registry.redhat.io/ubi8/ubi:latest'

dependencies:
  galaxy: requirements.yml
  python: requirements.txt
  system: bindep.txt

additional_build_steps:
  prepend_base:
    - RUN whoami
    - RUN cat /etc/os-release
  prepend_galaxy:
    - COPY _build/configs/ /tmp/configs/
  prepend_final:
    - RUN whoami
    - RUN ls -la /etc