- name: Playbook One
  hosts: localhost
  tasks:
    - name: Get version via python
      ansible.builtin.command: >
        python3 -c "import importlib.metadata; print(importlib.metadata.version('keeper-secrets-manager-core'))"
      register: ksm_version
      changed_when: false

    - name: Print keeper-secrets-manager-core version
      ansible.builtin.debug:
        msg: "keeper-secrets-manager-core version: {{ ksm_version.stdout }}"

    - name: Get collection versions
      ansible.builtin.command: ansible-galaxy collection list keepersecurity.keeper_secrets_manager
      register: keeper_version

    - name: Print keepersecurity collection version
      ansible.builtin.debug:
        var: keeper_version.stdout

    - name: Test get secret with UID
      keepersecurity.keeper_secrets_manager.keeper_get_record:
        uid: "lnChnDzORvwpz-dRKsOe2w"
      register: my_record

    - name: Print all record details
      ansible.builtin.debug:
        var: my_record.record
